body{
    width: 400px;
    justify-items: center;
    align-items: center;
}

div{
    /* border: 1px red solid; */
}

.gridSmallBox{
    width: 380px;

    display: grid;
    grid-template-rows: .2fr 2fr .4fr;

}

.gridSmallBox div {
    margin: .8em;
}

.pad-left{
    padding-left: .8em;
}

.smallfont{
    font-size: .8em;    
}
div .lessMarg{
    margin-bottom: .2em;
    padding:.3em;
}

/* ==================== */
.header {
    padding: 20px;
    text-align: center;
    align-content: center;
    /* background: #1abc9c;
    color: white; */
    font-size: 2em;
    width: 98%;
  }