#header{
}
.space{
    padding: 1em;
}
#searchBar{
    width: 90%;
    height: 1.5em;
    font-size: 10.5vw;
}
.grid1{
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-content: center;
    align-items: center;
}
.marginMe{
    margin: 1.7em;
    padding: .5v;
    /* padding-left: 1em; */
}
#searchButton{
    font-size: 4.5vw;
    height: 100%;
    /* vertical-align: center */
    /* top: 50%; */
    border-color:white;
    background-color: rgb(19, 82, 82);
}
#holdingButton{
    margin-right: 1.8em;
    /* width: 50%; */
}
.expand{
    width: 100%;
    padding-left: 1em;
    font-size: 8vw;
}
#myStatusTitle{
    font-size: 8vw;
}
#personalStatus{
    margin-left: 1em;
    font-size: 11vw;
}
/* //================================================
 */